<form class="well" role="form" name="loginForm" id="loginForm"
	novalidate wc-form-submit>
	<div ui-view></div>

	<!-- <div class="row">

		<div class="col-sm-6">
			<div class="form-group"
				ng-class="{'has-error': loginController.isFormSubmitted && loginForm.loginId.$invalid}">
				<label for="loginId" class="control-label">{{'login.racfId'
					| translate}}</label> <input id="loginId" name="loginId" type="text"
					placeholder="" autofocus="autofocus" class="form-control"
					ng-model="loginController.loginId" maxlength="8" required />
				<div>
					<span class="label label-danger"
						ng-show="loginController.isFormSubmitted && loginForm.loginId.$invalid">
						<span class="glyphicon glyphicon-remove-circle"></span> <span
						class="label-text">{{'login.isRequiredErrorEnter' |
							translate}} {{'login.racfId' | translate}}</span>
					</span>
				</div>
			</div>

		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="loginPassword" class="control-label">{{'login.password'
					| translate}}</label> <input id="loginPassword" name="loginPassword"
					type="password" placeholder="" wc-validation-indicator="{{'login.password' | translate}}"
					 class="form-control" maxlength="8"
					ng-model="loginController.loginPassword" required />
			</div>
		</div>

	</div>

	<div class="row form-actions">
		<div class="col-xs-12 text-center">
			<button type="submit" id="login" class="btn btn-primary-default"
				ng-click="loginController.getUserInformation();">
				{{'login.loginBtn' | translate}}</span>
			</button>
		</div>
	</div> -->

</form>